
/*Customer css required for sticky footer*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
}

footer {
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
}

/*Other*/

.centre_div{
    margin: 0 auto;
    width:100% /* value of your choice which suits your alignment */
}